<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>postLogin</servlet-name>
        <servlet-class>br.com.gamer.servlets.postLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarNovo</servlet-name>
        <servlet-class>br.com.gamer.servlets.iniciarNovo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processResp</servlet-name>
        <servlet-class>br.com.gamer.servlets.processResp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postCadastro</servlet-name>
        <servlet-class>br.com.gamer.servlets.postCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pegarPergunta</servlet-name>
        <servlet-class>br.com.gamer.servlets.pegarPergunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salvarCategoria</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.salvarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirCategoria</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.excluirCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criarCategoria</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.criarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salvarPergunta</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.salvarPergunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirPergunta</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.excluirPergunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criarPergunta</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.criarPergunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>escolhaCerta</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.escolhaCerta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criarEscolha</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.criarEscolha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirEscolha</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.excluirEscolha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salvarEscolha</servlet-name>
        <servlet-class>br.com.gamer.servlets.admCat.salvarEscolha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>salvarPergunta</servlet-name>
        <url-pattern>/salvarPergunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirPergunta</servlet-name>
        <url-pattern>/excluirPergunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criarPergunta</servlet-name>
        <url-pattern>/criarPergunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salvarCategoria</servlet-name>
        <url-pattern>/salvarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirCategoria</servlet-name>
        <url-pattern>/excluirCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criarCategoria</servlet-name>
        <url-pattern>/criarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postLogin</servlet-name>
        <url-pattern>/postLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarNovo</servlet-name>
        <url-pattern>/iniciarNovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processResp</servlet-name>
        <url-pattern>/processResp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postCadastro</servlet-name>
        <url-pattern>/postCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pegarPergunta</servlet-name>
        <url-pattern>/pegarPergunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>escolhaCerta</servlet-name>
        <url-pattern>/escolhaCerta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criarEscolha</servlet-name>
        <url-pattern>/criarEscolha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirEscolha</servlet-name>
        <url-pattern>/excluirEscolha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salvarEscolha</servlet-name>
        <url-pattern>/salvarEscolha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
